.header {
  min-height: 62.5rem;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/header-background.jpg) no-repeat center center;
  background-size: cover;
}

@media (max-width: 62em) {
  .navbar {
    background: var(--bs-dark);
  }
}
